# Store Item Demand Forecasting

![](https://github.com/oguzerdo/time-series-approaches/blob/main/images/forecasting.png?raw=true)

# Business Problem

The objective of this competition is to predict 3 months of item-level sales data at different store locations.

# Dataset Info

|features | definition|
|   --- | --- |
| date  | Date of the sale data. There are no holiday effects or store closures.        |
| store | Store ID                                                                      |
| item  | Item ID                                                                       |
| sales | Number of items sold at a particular store on a particular date.              |

### Challenge Link
https://www.kaggle.com/c/demand-forecasting-kernels-only

In [1]:
import time
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import lightgbm as lgb
import warnings

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
warnings.filterwarnings('ignore')

def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [79]:
# Load Data
train = pd.read_csv('datasets/demand_forecasting/train.csv', parse_dates=['date'])
test = pd.read_csv('datasets/demand_forecasting/test.csv', parse_dates=['date'])

sample_sub = pd.read_csv('datasets/demand_forecasting/sample_submission.csv')

df = pd.concat([train, test], sort=False)

# EDA

In [8]:
df["date"].min(), df["date"].max()

(Timestamp('2013-01-01 00:00:00'), Timestamp('2018-03-31 00:00:00'))

In [80]:
df.head()

        date  store  item  sales  id
0 2013-01-01      1     1   13.0 NaN
1 2013-01-02      1     1   11.0 NaN
2 2013-01-03      1     1   14.0 NaN
3 2013-01-04      1     1   13.0 NaN
4 2013-01-05      1     1   10.0 NaN

In [9]:
check_df(df)

##################### Shape #####################
(958000, 5)
##################### Types #####################
date     datetime64[ns]
store             int64
item              int64
sales           float64
id              float64
dtype: object
##################### Head #####################
        date  store  item  sales  id
0 2013-01-01      1     1   13.0 NaN
1 2013-01-02      1     1   11.0 NaN
2 2013-01-03      1     1   14.0 NaN
3 2013-01-04      1     1   13.0 NaN
4 2013-01-05      1     1   10.0 NaN
##################### Tail #####################
            date  store  item  sales       id
44995 2018-03-27     10    50    NaN  44995.0
44996 2018-03-28     10    50    NaN  44996.0
44997 2018-03-29     10    50    NaN  44997.0
44998 2018-03-30     10    50    NaN  44998.0
44999 2018-03-31     10    50    NaN  44999.0
##################### NA #####################
date          0
store         0
item          0
sales     45000
id       913000
dtype: int64
##################### Quantiles #####################
       0.00     0.05     0.50      0.95      0.99     1.00
store   1.0     1.00      5.5     10.00     10.00     10.0
item    1.0     3.00     25.5     48.00     50.00     50.0
sales   0.0    16.00     47.0    107.00    135.00    231.0
id      0.0  2249.95  22499.5  42749.05  44549.01  44999.0

In [10]:
df[["store"]].nunique()

store    10
dtype: int64

In [11]:
df[["item"]].nunique()

item    50
dtype: int64

In [12]:
df.groupby(["store"])["item"].nunique()

store
1     50
2     50
3     50
4     50
5     50
6     50
7     50
8     50
9     50
10    50
Name: item, dtype: int64

In [13]:
df.groupby(["store", "item"]).agg({"sales": ["sum"]})

               sales
                 sum
store item
1     1      36468.0
      2      97050.0
      3      60638.0
      4      36440.0
      5      30335.0
...              ...
10    46    120601.0
      47     45204.0
      48    105570.0
      49     60317.0
      50    135192.0

[500 rows x 1 columns]

In [14]:
df.groupby(["store", "item"]).agg({"sales": ["sum", "mean", "median", "std"]})

               sales
                 sum       mean median        std
store item
1     1      36468.0  19.971522   19.0   6.741022
      2      97050.0  53.148959   52.0  15.005779
      3      60638.0  33.208105   33.0  10.072529
      4      36440.0  19.956188   20.0   6.640618
      5      30335.0  16.612815   16.0   5.672102
...              ...        ...    ...        ...
10    46    120601.0  66.046550   65.0  18.114991
      47     45204.0  24.755750   24.0   7.924820
      48    105570.0  57.814896   57.0  15.898538
      49     60317.0  33.032311   32.0  10.091610
      50    135192.0  74.037240   73.0  19.937566

[500 rows x 4 columns]

In [15]:
df.head()

        date  store  item  sales  id
0 2013-01-01      1     1   13.0 NaN
1 2013-01-02      1     1   11.0 NaN
2 2013-01-03      1     1   14.0 NaN
3 2013-01-04      1     1   13.0 NaN
4 2013-01-05      1     1   10.0 NaN

# FEATURE ENGINEERING

In [17]:
def create_date_features(df):
    df['month'] = df.date.dt.month
    df['day_of_month'] = df.date.dt.day
    df['day_of_year'] = df.date.dt.dayofyear
    df['week_of_year'] = df.date.dt.weekofyear
    df['day_of_week'] = df.date.dt.dayofweek
    df['year'] = df.date.dt.year
    df["is_wknd"] = df.date.dt.weekday // 4
    df['is_month_start'] = df.date.dt.is_month_start.astype(int)
    df['is_month_end'] = df.date.dt.is_month_end.astype(int)
    return df

df = create_date_features(df)

In [18]:
df.groupby(["store", "item", "month"]).agg({"sales": ["sum", "mean", "median", "std"]})

                    sales
                      sum       mean median        std
store item month
1     1    1       2125.0  13.709677   13.0   4.397413
           2       2063.0  14.631206   14.0   4.668146
           3       2728.0  17.600000   17.0   4.545013
           4       3118.0  20.786667   20.0   4.894301
           5       3448.0  22.245161   22.0   6.564705
...                   ...        ...    ...        ...
10    50   8      13108.0  84.567742   85.0  15.676527
           9      11831.0  78.873333   79.0  15.207423
           10     11322.0  73.045161   72.0  14.209171
           11     11549.0  76.993333   77.0  16.253651
           12      8724.0  56.283871   56.0  11.782529

[6000 rows x 4 columns]

### Random Noise

In [20]:
def random_noise(dataframe):
    """
    Rastgele gürültü eklemeye yarar. ü
    Bunu neden yapmak isteriz ki?
    Zaman Serisi problemlerinde yeni oluşturacağımız değişkenler bağımlı değişkenler üzerinden
    üretileceği için bu durum sonrasında oluşacak overfit sorununun önüne geçmek amaçlanır.

    Veri seti boyutunda normal dağılımlı rastgele gözlemler oluşturulur ve bu gürültü değerler,
    hedef değişken üzerinden oluşturulacak yeni değişkenler üzerine eklenir.

    :param dataframe:
    :return:
    """
    return np.random.normal(scale=1.6, size=(len(dataframe),))

### Lag/Shifted Features

Lag features'ta hedef değişkenin kendisinden bir önceki gecikmesi yanına yeni bir özellik olarak eklenir.

Sales değerlerinin önceki dönemlerindeki değerlerini oluşturacağız.

**Dikkat:** Burada mağaza ürün ve tarihe göre sıralı şekilde olması gerekmektedir.

In [22]:
df.sort_values(by=['store', 'item', 'date'], axis=0, inplace=True)

In [23]:
# Example
pd.DataFrame({"sales": df["sales"].values[0:10],
              "lag1": df["sales"].shift(1).values[0:10],
              "lag2": df["sales"].shift(2).values[0:10],
              "lag3": df["sales"].shift(3).values[0:10],
              "lag4": df["sales"].shift(4).values[0:10]})

   sales  lag1  lag2  lag3  lag4
0   13.0   NaN   NaN   NaN   NaN
1   11.0  13.0   NaN   NaN   NaN
2   14.0  11.0  13.0   NaN   NaN
3   13.0  14.0  11.0  13.0   NaN
4   10.0  13.0  14.0  11.0  13.0
5   12.0  10.0  13.0  14.0  11.0
6   10.0  12.0  10.0  13.0  14.0
7    9.0  10.0  12.0  10.0  13.0
8   12.0   9.0  10.0  12.0  10.0
9    9.0  12.0   9.0  10.0  12.0

In [24]:
df.groupby(["store", "item"])['sales'].head()

0         13.0
1         11.0
2         14.0
3         13.0
4         10.0
          ...
911174    33.0
911175    37.0
911176    46.0
911177    51.0
911178    41.0
Name: sales, Length: 2500, dtype: float64

In [25]:
df.groupby(["store", "item"])['sales'].transform(lambda x: x.shift(1))

0         NaN
1        13.0
2        11.0
3        14.0
4        13.0
         ...
44995     NaN
44996     NaN
44997     NaN
44998     NaN
44999     NaN
Name: sales, Length: 958000, dtype: float64

In [26]:
# Dikkat: Oluşturulan lag featurelar hedef değişkenin direkt önceki değerleridir,
# bu sebeple bu lag featurelar üzerine gürültü eklemekte fayda vardır.

def lag_features(dataframe, lags):
    for lag in lags:
        dataframe['sales_lag_' + str(lag)] = dataframe.groupby(["store", "item"])['sales'].transform(
            lambda x: x.shift(lag)) + random_noise(dataframe)
    return dataframe

In [27]:
# Aşağıdaki değerler nereden geldi?
# Üç aylık bir tahmin yapacağımız için 90 günlük bir lag almakta fayda var.

df = lag_features(df, [91, 98, 105, 112, 119, 126, 182, 364, 546, 728])

check_df(df)

##################### Shape #####################
(958000, 24)
##################### Types #####################
date              datetime64[ns]
store                      int64
item                       int64
sales                    float64
id                       float64
month                      int64
day_of_month               int64
day_of_year                int64
week_of_year               int64
day_of_week                int64
year                       int64
is_wknd                    int64
is_month_start             int64
is_month_end               int64
sales_lag_91             float64
sales_lag_98             float64
sales_lag_105            float64
sales_lag_112            float64
sales_lag_119            float64
sales_lag_126            float64
sales_lag_182            float64
sales_lag_364            float64
sales_lag_546            float64
sales_lag_728            float64
dtype: object
##################### Head #####################
        date  store  item  sales  id  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728
0 2013-01-01      1     1   13.0 NaN      1             1            1             1            1  2013        0               1             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
1 2013-01-02      1     1   11.0 NaN      1             2            2             1            2  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
2 2013-01-03      1     1   14.0 NaN      1             3            3             1            3  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
3 2013-01-04      1     1   13.0 NaN      1             4            4             1            4  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
4 2013-01-05      1     1   10.0 NaN      1             5            5             1            5  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN
##################### Tail #####################
            date  store  item  sales       id  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728
44995 2018-03-27     10    50    NaN  44995.0      3            27           86            13            1  2018        0               0             0     42.129357     54.182096      66.823448      67.311963      68.510885      81.224300      78.797611      60.723680      95.710799      73.153858
44996 2018-03-28     10    50    NaN  44996.0      3            28           87            13            2  2018        0               0             0     62.504279     51.642837      67.063030      61.646796      74.502414      79.717545      81.297526      75.274772      83.643036      66.843731
44997 2018-03-29     10    50    NaN  44997.0      3            29           88            13            3  2018        0               0             0     61.128803     65.623285      71.695643      65.766032      71.028736      86.206059      78.976679      67.357978      96.367790      73.706367
44998 2018-03-30     10    50    NaN  44998.0      3            30           89            13            4  2018        1               0             0     74.770463     75.823463      71.163934      67.041226      63.247155      78.711925      90.552861      69.005316      78.851796      84.581672
44999 2018-03-31     10    50    NaN  44999.0      3            31           90            13            5  2018        1               0             1     60.466511     69.443146      48.434878      67.211171      47.469542      76.137877     102.469178     100.613602      97.962724      80.821216
##################### NA #####################
date                   0
store                  0
item                   0
sales              45000
id                913000
month                  0
day_of_month           0
day_of_year            0
week_of_year           0
day_of_week            0
year                   0
is_wknd                0
is_month_start         0
is_month_end           0
sales_lag_91       45500
sales_lag_98       49000
sales_lag_105      52500
sales_lag_112      56000
sales_lag_119      59500
sales_lag_126      63000
sales_lag_182      91000
sales_lag_364     182000
sales_lag_546     273000
sales_lag_728     364000
dtype: int64
##################### Quantiles #####################
                       0.00         0.05          0.50          0.95          0.99          1.00
store              1.000000     1.000000      5.500000     10.000000     10.000000     10.000000
item               1.000000     3.000000     25.500000     48.000000     50.000000     50.000000
sales              0.000000    16.000000     47.000000    107.000000    135.000000    231.000000
id                 0.000000  2249.950000  22499.500000  42749.050000  44549.010000  44999.000000
month              1.000000     1.000000      6.000000     12.000000     12.000000     12.000000
day_of_month       1.000000     2.000000     16.000000     29.000000     31.000000     31.000000
day_of_year        1.000000    16.000000    174.000000    347.000000    362.000000    366.000000
week_of_year       1.000000     3.000000     25.000000     50.000000     52.000000     53.000000
day_of_week        0.000000     0.000000      3.000000      6.000000      6.000000      6.000000
year            2013.000000  2013.000000   2015.000000   2017.000000   2018.000000   2018.000000
is_wknd            0.000000     0.000000      0.000000      1.000000      1.000000      1.000000
is_month_start     0.000000     0.000000      0.000000      0.000000      1.000000      1.000000
is_month_end       0.000000     0.000000      0.000000      0.000000      1.000000      1.000000
sales_lag_91      -1.994694    15.461321     46.950186    107.408210    134.715051    230.371407
sales_lag_98      -1.102108    15.486779     46.986145    107.485473    134.810660    229.090755
sales_lag_105     -1.281966    15.477030     46.996635    107.546364    134.801434    232.270688
sales_lag_112     -2.013410    15.458733     47.017152    107.567699    134.857970    230.268031
sales_lag_119     -2.044937    15.490130     47.061220    107.682869    134.973045    229.170961
sales_lag_126     -0.604293    15.471991     47.022940    107.700858    134.946912    232.002552
sales_lag_182     -1.577369    15.373615     46.781982    107.386944    134.916474    231.783304
sales_lag_364     -1.787014    14.948517     45.317972    103.188145    129.425515    212.150432
sales_lag_546     -2.066609    14.884905     45.360588    103.891445    130.224177    213.882529
sales_lag_728     -2.364106    14.355301     43.582799     98.711048    123.262227    194.169377

# Rolling Mean Features

Rolling Mean'de geçmişteki x kadar değerin ortalaması alınır. 

Hareketli ortalama için rolling metodu kullanılır, kaç adım gideceğini belirtmek için de window argümanı ifade eder.

Dikkat: Rolling kullanımında o değerin kendisi de dahil edilir ve böyle ortalama alırız.

Diyelim ki: Yarını tahmin etmek istiyoruz, yarının kendisi dahil geçmiş iki gözlem birimini tahmin etme şansımız yok, çünkü yarın elimizde yok. Bunun için rolling metodunu 1 gecikme (shift) alarak kullanmalıyız.

In [30]:
pd.DataFrame({"sales": df["sales"].values[0:10],
              "roll2": df["sales"].rolling(window=2).mean().values[0:10],
              "roll3": df["sales"].rolling(window=3).mean().values[0:10],
              "roll5": df["sales"].rolling(window=5).mean().values[0:10]})

   sales  roll2      roll3  roll5
0   13.0    NaN        NaN    NaN
1   11.0   12.0        NaN    NaN
2   14.0   12.5  12.666667    NaN
3   13.0   13.5  12.666667    NaN
4   10.0   11.5  12.333333   12.2
5   12.0   11.0  11.666667   12.0
6   10.0   11.0  10.666667   11.8
7    9.0    9.5  10.333333   10.8
8   12.0   10.5  10.333333   10.6
9    9.0   10.5  10.000000   10.4

In [31]:
pd.DataFrame({"sales": df["sales"].values[0:10],
              "roll2": df["sales"].shift(1).rolling(window=2).mean().values[0:10],
              "roll3": df["sales"].shift(1).rolling(window=3).mean().values[0:10],
              "roll5": df["sales"].shift(1).rolling(window=5).mean().values[0:10]})

   sales  roll2      roll3  roll5
0   13.0    NaN        NaN    NaN
1   11.0    NaN        NaN    NaN
2   14.0   12.0        NaN    NaN
3   13.0   12.5  12.666667    NaN
4   10.0   13.5  12.666667    NaN
5   12.0   11.5  12.333333   12.2
6   10.0   11.0  11.666667   12.0
7    9.0   11.0  10.666667   11.8
8   12.0    9.5  10.333333   10.8
9    9.0   10.5  10.333333   10.6

In [32]:
def roll_mean_features(dataframe, windows):
    for window in windows:
        dataframe['sales_roll_mean_' + str(window)] = dataframe.groupby(["store", "item"])['sales']. \
                                                          transform(
            lambda x: x.shift(1).rolling(window=window, min_periods=10, win_type="triang").mean()) + random_noise(
            dataframe)
    return dataframe

# 1 yıl önceki bilgi ve 1.5 yıl önceki bilgiyi veriye yansıtmaya çalışıyoruz. Bu değerler değişebilir.
df = roll_mean_features(df, [365, 546])

### Exponentially Weighted Mean Features (Üstel Ağırlıklı Ortalama)

In [35]:
pd.DataFrame({"sales": df["sales"].values[0:10],
              "roll2": df["sales"].shift(1).rolling(window=2).mean().values[0:10],
              "ewm099": df["sales"].shift(1).ewm(alpha=0.99).mean().values[0:10],
              "ewm095": df["sales"].shift(1).ewm(alpha=0.95).mean().values[0:10],
              "ewm07": df["sales"].shift(1).ewm(alpha=0.7).mean().values[0:10],
              "ewm02": df["sales"].shift(1).ewm(alpha=0.1).mean().values[0:10]})

   sales  roll2     ewm099     ewm095      ewm07      ewm02
0   13.0    NaN        NaN        NaN        NaN        NaN
1   11.0    NaN  13.000000  13.000000  13.000000  13.000000
2   14.0   12.0  11.019802  11.095238  11.461538  11.947368
3   13.0   12.5  13.970201  13.855107  13.287770  12.704797
4   10.0   13.5  13.009702  13.042750  13.084686  12.790637
5   12.0   11.5  10.030097  10.152137  10.920146  12.109179
6   10.0   11.0  11.980301  11.907607  11.676595  12.085878
7    9.0   11.0  10.019803  10.095380  10.502722  11.686057
8   12.0    9.5   9.010198   9.054769   9.450748  11.214433
9    9.0   10.5  11.970102  11.852738  11.235259  11.342672

In [37]:
def ewm_features(dataframe, alphas, lags):
    for alpha in alphas:
        for lag in lags:
            dataframe['sales_ewm_alpha_' + str(alpha).replace(".", "") + "_lag_" + str(lag)] = \
                dataframe.groupby(["store", "item"])['sales'].transform(lambda x: x.shift(lag).ewm(alpha=alpha).mean())
    return dataframe

In [38]:
alphas = [0.95, 0.9, 0.8, 0.7, 0.5]
lags = [91, 98, 105, 112, 180, 270, 365, 546, 728]

In [39]:
df = ewm_features(df, alphas, lags)
check_df(df)

##################### Shape #####################
(958000, 71)
##################### Types #####################
date                          datetime64[ns]
store                                  int64
item                                   int64
sales                                float64
id                                   float64
                                   ...
sales_ewm_alpha_05_lag_180           float64
sales_ewm_alpha_05_lag_270           float64
sales_ewm_alpha_05_lag_365           float64
sales_ewm_alpha_05_lag_546           float64
sales_ewm_alpha_05_lag_728           float64
Length: 71, dtype: object
##################### Head #####################
        date  store  item  sales  id  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728  sales_roll_mean_365  sales_roll_mean_546  sales_ewm_alpha_095_lag_91  sales_ewm_alpha_095_lag_98  sales_ewm_alpha_095_lag_105  sales_ewm_alpha_095_lag_112  sales_ewm_alpha_095_lag_180  \
0 2013-01-01      1     1   13.0 NaN      1             1            1             1            1  2013        0               1             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN
1 2013-01-02      1     1   11.0 NaN      1             2            2             1            2  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN
2 2013-01-03      1     1   14.0 NaN      1             3            3             1            3  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN
3 2013-01-04      1     1   13.0 NaN      1             4            4             1            4  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN
4 2013-01-05      1     1   10.0 NaN      1             5            5             1            5  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN

   sales_ewm_alpha_095_lag_270  sales_ewm_alpha_095_lag_365  sales_ewm_alpha_095_lag_546  sales_ewm_alpha_095_lag_728  sales_ewm_alpha_09_lag_91  sales_ewm_alpha_09_lag_98  sales_ewm_alpha_09_lag_105  sales_ewm_alpha_09_lag_112  sales_ewm_alpha_09_lag_180  sales_ewm_alpha_09_lag_270  sales_ewm_alpha_09_lag_365  sales_ewm_alpha_09_lag_546  sales_ewm_alpha_09_lag_728  sales_ewm_alpha_08_lag_91  sales_ewm_alpha_08_lag_98  sales_ewm_alpha_08_lag_105  sales_ewm_alpha_08_lag_112  \
0                          NaN                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
1                          NaN                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
2                          NaN                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
3                          NaN                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
4                          NaN                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN

   sales_ewm_alpha_08_lag_180  sales_ewm_alpha_08_lag_270  sales_ewm_alpha_08_lag_365  sales_ewm_alpha_08_lag_546  sales_ewm_alpha_08_lag_728  sales_ewm_alpha_07_lag_91  sales_ewm_alpha_07_lag_98  sales_ewm_alpha_07_lag_105  sales_ewm_alpha_07_lag_112  sales_ewm_alpha_07_lag_180  sales_ewm_alpha_07_lag_270  sales_ewm_alpha_07_lag_365  sales_ewm_alpha_07_lag_546  sales_ewm_alpha_07_lag_728  sales_ewm_alpha_05_lag_91  sales_ewm_alpha_05_lag_98  sales_ewm_alpha_05_lag_105  \
0                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN
1                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN
2                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN
3                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN
4                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN

   sales_ewm_alpha_05_lag_112  sales_ewm_alpha_05_lag_180  sales_ewm_alpha_05_lag_270  sales_ewm_alpha_05_lag_365  sales_ewm_alpha_05_lag_546  sales_ewm_alpha_05_lag_728
0                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN
1                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN
2                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN
3                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN
4                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN
##################### Tail #####################
            date  store  item  sales       id  month  day_of_month  day_of_year  week_of_year  day_of_week  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728  sales_roll_mean_365  sales_roll_mean_546  sales_ewm_alpha_095_lag_91  sales_ewm_alpha_095_lag_98  sales_ewm_alpha_095_lag_105  sales_ewm_alpha_095_lag_112  sales_ewm_alpha_095_lag_180  \
44995 2018-03-27     10    50    NaN  44995.0      3            27           86            13            1  2018        0               0             0     42.129357     54.182096      66.823448      67.311963      68.510885      81.224300      78.797611      60.723680      95.710799      73.153858            86.372048            85.616542                   41.561777                   54.028375                    66.387487                    67.349358                    81.895724
44996 2018-03-28     10    50    NaN  44996.0      3            28           87            13            2  2018        0               0             0     62.504279     51.642837      67.063030      61.646796      74.502414      79.717545      81.297526      75.274772      83.643036      66.843731            86.432758            86.615046                   61.928089                   51.151419                    66.969374                    60.367468                    89.594786
44997 2018-03-29     10    50    NaN  44997.0      3            29           88            13            3  2018        0               0             0     61.128803     65.623285      71.695643      65.766032      71.028736      86.206059      78.976679      67.357978      96.367790      73.706367            87.099136            84.794308                   59.146404                   62.407571                    71.748469                    65.718373                   102.329739
44998 2018-03-30     10    50    NaN  44998.0      3            30           89            13            4  2018        1               0             0     74.770463     75.823463      71.163934      67.041226      63.247155      78.711925      90.552861      69.005316      78.851796      84.581672            88.098881            85.570585                   73.257320                   74.370379                    71.987423                    66.935919                    99.166487
44999 2018-03-31     10    50    NaN  44999.0      3            31           90            13            5  2018        1               0             1     60.466511     69.443146      48.434878      67.211171      47.469542      76.137877     102.469178     100.613602      97.962724      80.821216            88.733220            84.990102                   62.562866                   70.218519                    52.999371                    68.896796                    72.408324

       sales_ewm_alpha_095_lag_270  sales_ewm_alpha_095_lag_365  sales_ewm_alpha_095_lag_546  sales_ewm_alpha_095_lag_728  sales_ewm_alpha_09_lag_91  sales_ewm_alpha_09_lag_98  sales_ewm_alpha_09_lag_105  sales_ewm_alpha_09_lag_112  sales_ewm_alpha_09_lag_180  sales_ewm_alpha_09_lag_270  sales_ewm_alpha_09_lag_365  sales_ewm_alpha_09_lag_546  sales_ewm_alpha_09_lag_728  sales_ewm_alpha_08_lag_91  sales_ewm_alpha_08_lag_98  sales_ewm_alpha_08_lag_105  sales_ewm_alpha_08_lag_112  \
44995                   112.421502                    66.744209                    94.617783                    71.979468                  42.244368                  54.197995                   65.849785                   66.785772                   81.777579                  112.682169                   67.473304                   92.561560                   71.115472                  43.955442                  54.879654                   64.996171                   65.861563
44996                   118.671075                    60.337210                    80.730889                    68.198973                  60.924437                  51.319799                   66.884978                   60.678577                   89.177758                  118.368217                   60.747330                   81.256156                   68.311547                  59.191088                  51.775931                   66.599234                   61.172313
44997                   119.933554                    72.366861                    98.086544                    74.659949                  59.192444                  61.831980                   71.488498                   65.467858                  101.617776                  119.836822                   71.774733                   97.225616                   74.331155                  59.038218                  60.755186                   70.919847                   65.034463
44998                   100.046678                    68.218343                    79.954327                    82.582997                  72.519244                  73.683198                   71.948850                   66.846786                   99.261778                  101.083682                   68.377473                   80.822562                   82.133115                  71.007644                  72.151037                   71.783969                   66.606893
44999                    98.102334                    68.960917                    96.147716                    82.029150                  63.051924                  70.368320                   53.994885                   68.784679                   73.826178                   98.308368                   68.937747                   95.382256                   82.013312                  63.801529                  70.430207                   55.956794                   68.521379

       sales_ewm_alpha_08_lag_180  sales_ewm_alpha_08_lag_270  sales_ewm_alpha_08_lag_365  sales_ewm_alpha_08_lag_546  sales_ewm_alpha_08_lag_728  sales_ewm_alpha_07_lag_91  sales_ewm_alpha_07_lag_98  sales_ewm_alpha_07_lag_105  sales_ewm_alpha_07_lag_112  sales_ewm_alpha_07_lag_180  sales_ewm_alpha_07_lag_270  sales_ewm_alpha_07_lag_365  sales_ewm_alpha_07_lag_546  sales_ewm_alpha_07_lag_728  sales_ewm_alpha_05_lag_91  sales_ewm_alpha_05_lag_98  sales_ewm_alpha_05_lag_105  \
44995                   81.488819                  112.703381                   68.859556                   89.361543                   69.838571                  46.091666                  55.909793                   64.428121                   65.144155                   81.162051                  112.055216                   70.090358                   87.248414                   69.116907                  51.309755                  58.648702                   64.033868
44996                   88.297764                  117.740676                   61.771911                   81.872309                   68.367714                  57.927500                  52.472938                   66.228436                   61.543247                   87.348615                  116.916565                   63.027108                   82.174524                   68.335072                  57.154878                  54.824351                   65.516934
44997                  100.059553                  119.548135                   70.754382                   95.574462                   73.673543                  58.678250                  59.841881                   70.268531                   64.662974                   98.304585                  119.074969                   70.008132                   93.952357                   73.000522                  58.077439                  58.912176                   68.758467
44998                   99.211911                  103.109627                   68.550876                   82.314892                   81.134709                  69.403475                  70.452564                   71.480559                   66.298892                   98.791375                  105.022491                   68.602440                   83.485707                   80.000156                  66.038719                  66.956088                   70.379233
44999                   76.642382                   99.021925                   68.910175                   94.062978                   81.826942                  64.221042                  70.135769                   57.844168                   68.189668                   79.337413                  100.106747                   68.880732                   92.945712                   81.400047                  64.019360                  68.478044                   61.189617

       sales_ewm_alpha_05_lag_112  sales_ewm_alpha_05_lag_180  sales_ewm_alpha_05_lag_270  sales_ewm_alpha_05_lag_365  sales_ewm_alpha_05_lag_546  sales_ewm_alpha_05_lag_728
44995                   64.335072                   80.828687                  109.036310                   71.734958                   85.489012                   68.933911
44996                   62.167536                   85.414343                  114.018155                   65.867479                   82.744506                   68.466956
44997                   64.083768                   94.207172                  117.009078                   69.433740                   90.872253                   71.733478
44998                   65.541884                   96.603586                  108.004539                   68.716870                   84.936127                   77.366739

# One-Hot Encoding

In [41]:
df = pd.get_dummies(df, columns=['store', 'item', 'day_of_week', 'month'])

check_df(df)

##################### Shape #####################
(958000, 146)
##################### Types #####################
date            datetime64[ns]
sales                  float64
id                     float64
day_of_month             int64
day_of_year              int64
                     ...
month_8                  uint8
month_9                  uint8
month_10                 uint8
month_11                 uint8
month_12                 uint8
Length: 146, dtype: object
##################### Head #####################
        date  sales  id  day_of_month  day_of_year  week_of_year  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728  sales_roll_mean_365  sales_roll_mean_546  sales_ewm_alpha_095_lag_91  sales_ewm_alpha_095_lag_98  sales_ewm_alpha_095_lag_105  sales_ewm_alpha_095_lag_112  sales_ewm_alpha_095_lag_180  sales_ewm_alpha_095_lag_270  \
0 2013-01-01   13.0 NaN             1            1             1  2013        0               1             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN                          NaN
1 2013-01-02   11.0 NaN             2            2             1  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN                          NaN
2 2013-01-03   14.0 NaN             3            3             1  2013        0               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN                          NaN
3 2013-01-04   13.0 NaN             4            4             1  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN                          NaN
4 2013-01-05   10.0 NaN             5            5             1  2013        1               0             0           NaN           NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN                  NaN                  NaN                         NaN                         NaN                          NaN                          NaN                          NaN                          NaN

   sales_ewm_alpha_095_lag_365  sales_ewm_alpha_095_lag_546  sales_ewm_alpha_095_lag_728  sales_ewm_alpha_09_lag_91  sales_ewm_alpha_09_lag_98  sales_ewm_alpha_09_lag_105  sales_ewm_alpha_09_lag_112  sales_ewm_alpha_09_lag_180  sales_ewm_alpha_09_lag_270  sales_ewm_alpha_09_lag_365  sales_ewm_alpha_09_lag_546  sales_ewm_alpha_09_lag_728  sales_ewm_alpha_08_lag_91  sales_ewm_alpha_08_lag_98  sales_ewm_alpha_08_lag_105  sales_ewm_alpha_08_lag_112  sales_ewm_alpha_08_lag_180  \
0                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN
1                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN
2                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN
3                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN
4                          NaN                          NaN                          NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN

   sales_ewm_alpha_08_lag_270  sales_ewm_alpha_08_lag_365  sales_ewm_alpha_08_lag_546  sales_ewm_alpha_08_lag_728  sales_ewm_alpha_07_lag_91  sales_ewm_alpha_07_lag_98  sales_ewm_alpha_07_lag_105  sales_ewm_alpha_07_lag_112  sales_ewm_alpha_07_lag_180  sales_ewm_alpha_07_lag_270  sales_ewm_alpha_07_lag_365  sales_ewm_alpha_07_lag_546  sales_ewm_alpha_07_lag_728  sales_ewm_alpha_05_lag_91  sales_ewm_alpha_05_lag_98  sales_ewm_alpha_05_lag_105  sales_ewm_alpha_05_lag_112  \
0                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
1                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
2                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
3                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN
4                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        NaN                        NaN                         NaN                         NaN

   sales_ewm_alpha_05_lag_180  sales_ewm_alpha_05_lag_270  sales_ewm_alpha_05_lag_365  sales_ewm_alpha_05_lag_546  sales_ewm_alpha_05_lag_728  store_1  store_2  store_3  store_4  store_5  store_6  store_7  store_8  store_9  store_10  item_1  item_2  item_3  item_4  item_5  item_6  item_7  item_8  item_9  item_10  item_11  item_12  item_13  item_14  item_15  item_16  item_17  item_18  item_19  item_20  item_21  item_22  item_23  item_24  item_25  item_26  item_27  item_28  item_29  item_30  \
0                         NaN                         NaN                         NaN                         NaN                         NaN        1        0        0        0        0        0        0        0        0         0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0
1                         NaN                         NaN                         NaN                         NaN                         NaN        1        0        0        0        0        0        0        0        0         0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0
2                         NaN                         NaN                         NaN                         NaN                         NaN        1        0        0        0        0        0        0        0        0         0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0
3                         NaN                         NaN                         NaN                         NaN                         NaN        1        0        0        0        0        0        0        0        0         0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0
4                         NaN                         NaN                         NaN                         NaN                         NaN        1        0        0        0        0        0        0        0        0         0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0

   item_31  item_32  item_33  item_34  item_35  item_36  item_37  item_38  item_39  item_40  item_41  item_42  item_43  item_44  item_45  item_46  item_47  item_48  item_49  item_50  day_of_week_0  day_of_week_1  day_of_week_2  day_of_week_3  day_of_week_4  day_of_week_5  day_of_week_6  month_1  month_2  month_3  month_4  month_5  month_6  month_7  month_8  month_9  month_10  month_11  month_12
0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0              0              1              0              0              0              0              0        1        0        0        0        0        0        0        0        0         0         0         0
1        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0              0              0              1              0              0              0              0        1        0        0        0        0        0        0        0        0         0         0         0
2        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0              0              0              0              1              0              0              0        1        0        0        0        0        0        0        0        0         0         0         0
3        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0              0              0              0              0              1              0              0        1        0        0        0        0        0        0        0        0         0         0         0
4        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0        0              0              0              0              0              0              1              0        1        0        0        0        0        0        0        0        0         0         0         0
##################### Tail #####################
            date  sales       id  day_of_month  day_of_year  week_of_year  year  is_wknd  is_month_start  is_month_end  sales_lag_91  sales_lag_98  sales_lag_105  sales_lag_112  sales_lag_119  sales_lag_126  sales_lag_182  sales_lag_364  sales_lag_546  sales_lag_728  sales_roll_mean_365  sales_roll_mean_546  sales_ewm_alpha_095_lag_91  sales_ewm_alpha_095_lag_98  sales_ewm_alpha_095_lag_105  sales_ewm_alpha_095_lag_112  sales_ewm_alpha_095_lag_180  sales_ewm_alpha_095_lag_270  \
44995 2018-03-27    NaN  44995.0            27           86            13  2018        0               0             0     42.129357     54.182096      66.823448      67.311963      68.510885      81.224300      78.797611      60.723680      95.710799      73.153858            86.372048            85.616542                   41.561777                   54.028375                    66.387487                    67.349358                    81.895724                   112.421502
44996 2018-03-28    NaN  44996.0            28           87            13  2018        0               0             0     62.504279     51.642837      67.063030      61.646796      74.502414      79.717545      81.297526      75.274772      83.643036      66.843731            86.432758            86.615046                   61.928089                   51.151419                    66.969374                    60.367468                    89.594786                   118.671075
44997 2018-03-29    NaN  44997.0            29           88            13  2018        0               0             0     61.128803     65.623285      71.695643      65.766032      71.028736      86.206059      78.976679      67.357978      96.367790      73.706367            87.099136            84.794308                   59.146404                   62.407571                    71.748469                    65.718373                   102.329739                   119.933554
44998 2018-03-30    NaN  44998.0            30           89            13  2018        1               0             0     74.770463     75.823463      71.163934      67.041226      63.247155      78.711925      90.552861      69.005316      78.851796      84.581672            88.098881            85.570585                   73.257320                   74.370379                    71.987423                    66.935919                    99.166487                   100.046678
44999 2018-03-31    NaN  44999.0            31           90            13  2018        1               0             1     60.466511     69.443146      48.434878      67.211171      47.469542      76.137877     102.469178     100.613602      97.962724      80.821216            88.733220            84.990102                   62.562866                   70.218519                    52.999371                    68.896796                    72.408324                    98.102334

       sales_ewm_alpha_095_lag_365  sales_ewm_alpha_095_lag_546  sales_ewm_alpha_095_lag_728  sales_ewm_alpha_09_lag_91  sales_ewm_alpha_09_lag_98  sales_ewm_alpha_09_lag_105  sales_ewm_alpha_09_lag_112  sales_ewm_alpha_09_lag_180  sales_ewm_alpha_09_lag_270  sales_ewm_alpha_09_lag_365  sales_ewm_alpha_09_lag_546  sales_ewm_alpha_09_lag_728  sales_ewm_alpha_08_lag_91  sales_ewm_alpha_08_lag_98  sales_ewm_alpha_08_lag_105  sales_ewm_alpha_08_lag_112  sales_ewm_alpha_08_lag_180  \
44995                    66.744209                    94.617783                    71.979468                  42.244368                  54.197995                   65.849785                   66.785772                   81.777579                  112.682169                   67.473304                   92.561560                   71.115472                  43.955442                  54.879654                   64.996171                   65.861563                   81.488819
44996                    60.337210                    80.730889                    68.198973                  60.924437                  51.319799                   66.884978                   60.678577                   89.177758                  118.368217                   60.747330                   81.256156                   68.311547                  59.191088                  51.775931                   66.599234                   61.172313                   88.297764
44997                    72.366861                    98.086544                    74.659949                  59.192444                  61.831980                   71.488498                   65.467858                  101.617776                  119.836822                   71.774733                   97.225616                   74.331155                  59.038218                  60.755186                   70.919847                   65.034463                  100.059553
44998                    68.218343                    79.954327                    82.582997                  72.519244                  73.683198                   71.948850                   66.846786                   99.261778                  101.083682                   68.377473                   80.822562                   82.133115                  71.007644                  72.151037                   71.783969                   66.606893                   99.211911

### Converting sales to log(1+sales)

In [43]:
# İterasyon süresinin daha kısa olabileceği varsayımıyla bunu yapıyoruz. Ağaç yöntemlerinde gerek yok.
df['sales'] = np.log1p(df["sales"].values)

# Model

### Custom Cost Function

- MAE: mean absolute error
- MAPE: mean absolute percentage error
- SMAPE: Symmetric mean absolute percentage error (adjusted MAPE)

In [46]:
def smape(preds, target):
    n = len(preds)
    masked_arr = ~((preds == 0) & (target == 0))
    preds, target = preds[masked_arr], target[masked_arr]
    num = np.abs(preds - target)
    denom = np.abs(preds) + np.abs(target)
    smape_val = (200 * np.sum(num / denom)) / n
    return smape_val


def lgbm_smape(preds, train_data):
    labels = train_data.get_label()
    smape_val = smape(np.expm1(preds), np.expm1(labels))
    return 'SMAPE', smape_val, False

### Time-Based Validation Sets

In [48]:
# 2017'nin başına kadar (2016'nın sonuna kadar) train seti.
train = df.loc[(df["date"] < "2017-01-01"), :]

In [49]:
# 2017'nin ilk 3'ayı validasyon seti.
val = df.loc[(df["date"] >= "2017-01-01") & (df["date"] < "2017-04-01"), :]

In [50]:
cols = [col for col in train.columns if col not in ['date', 'id', "sales", "year"]]

In [51]:
Y_train = train['sales']
X_train = train[cols]

In [52]:
Y_val = val['sales']
X_val = val[cols]

In [53]:
Y_train.shape, X_train.shape, Y_val.shape, X_val.shape

((730500,), (730500, 142), (45000,), (45000, 142))

# LightGBM ile Zaman Serisi Modeli

In [61]:
# LightGBM parameters
lgb_params = {'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'num_boost_round': 1000,
              'early_stopping_rounds': 200,
              'nthread': -1}

In [56]:
# metric mae: l1, absolute loss, mean_absolute_error, regression_l1
# mse: l2, square loss, mean_squared_error, mse, regression_l2, regression
# rmse, root square loss, root_mean_squared_error, l2_root
# mape, MAPE loss, mean_absolute_percentage_error

# num_leaves: bir ağaçtaki maksimum yaprak sayısı
# learning_rate: shrinkage_rate, eta
# feature_fraction: rf'nin random subspace özelliği. her iterasyonda rastgele göz önünde bulundurulacak değişken sayısı.
# max_depth: maksimum derinlik
# num_boost_round: n_estimators, number of boosting iterations. En az 10000-15000 civarı yapmak lazım.

# early_stopping_rounds: validasyon setindeki metrik belirli bir early_stopping_rounds'da ilerlemiyorsa yani
# hata düşmüyorsa modellemeyi durdur.
# hem train süresini kısaltır hem de overfit'e engel olur.
# nthread: num_thread, nthread, nthreads, n_jobs

In [59]:
lgbtrain = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)
lgbval = lgb.Dataset(data=X_val, label=Y_val, reference=lgbtrain, feature_name=cols)

In [62]:
model = lgb.train(lgb_params, lgbtrain,
                  valid_sets=[lgbtrain, lgbval],
                  num_boost_round=lgb_params['num_boost_round'],
                  early_stopping_rounds=lgb_params['early_stopping_rounds'],
                  feval=lgbm_smape,
                  verbose_eval=100)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.037729 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
Training until validation scores don't improve for 200 rounds
[100]	training's SMAPE: 17.5942	valid_1's SMAPE: 17.4889
[200]	training's SMAPE: 14.5745	valid_1's SMAPE: 14.9204
[300]	training's SMAPE: 14.015	valid_1's SMAPE: 14.4513
[400]	training's SMAPE: 13.7978	valid_1's SMAPE: 14.2902
[500]	training's SMAPE: 13.6632	valid_1's SMAPE: 14.1524
[600]	training's SMAPE: 13.5695	valid_1's SMAPE: 14.0496
[700]	training's SMAPE: 13.498	valid_1's SMAPE: 13.9721
[800]	training's SMAPE: 13.4413	valid_1's SMAPE: 13.9124
[900]	training's SMAPE: 13.3937	valid_1's SMAPE: 13.8688
[1000]	training's SMAPE: 13.3524	valid_1's SMAPE: 13.8394
Did not meet early stopping. Best iteration is:
[1000]	training's SMAPE: 13.3524	valid_1's SMAPE: 13.8394

In [63]:
y_pred_val = model.predict(X_val, num_iteration=model.best_iteration)

smape(np.expm1(y_pred_val), np.expm1(Y_val))

13.839435685307452

In [64]:
# Feature Importances

In [66]:
def plot_lgb_importances(model, plot=False, num=10):
    gain = model.feature_importance('gain')
    feat_imp = pd.DataFrame({'feature': model.feature_name(),
                             'split': model.feature_importance('split'),
                             'gain': 100 * gain / gain.sum()}).sort_values('gain', ascending=False)
    if plot:
        plt.figure(figsize=(10, 10))
        sns.set(font_scale=1)
        sns.barplot(x="gain", y="feature", data=feat_imp[0:25])
        plt.title('feature')
        plt.tight_layout()
        plt.show()
    else:
        print(feat_imp.head(num))
    return feat_imp

plot_lgb_importances(model, num=200)

                        feature  split       gain
17          sales_roll_mean_546    947  54.518704
13                sales_lag_364   1258  13.299828
16          sales_roll_mean_365    614   9.878312
60   sales_ewm_alpha_05_lag_365    381   4.864704
18   sales_ewm_alpha_095_lag_91    113   2.886957
..                          ...    ...        ...
72                     store_10      0   0.000000
111                     item_39      0   0.000000
84                      item_12      0   0.000000
66                      store_4      0   0.000000
71                      store_9      0   0.000000

[142 rows x 3 columns]

                        feature  split       gain
17          sales_roll_mean_546    947  54.518704
13                sales_lag_364   1258  13.299828
16          sales_roll_mean_365    614   9.878312
60   sales_ewm_alpha_05_lag_365    381   4.864704
18   sales_ewm_alpha_095_lag_91    113   2.886957
..                          ...    ...        ...
72                     store_10      0   0.000000
111                     item_39      0   0.000000
84                      item_12      0   0.000000
66                      store_4      0   0.000000
71                      store_9      0   0.000000

[142 rows x 3 columns]

In [67]:
feat_imp = plot_lgb_importances(model, num=200)

                        feature  split       gain
17          sales_roll_mean_546    947  54.518704
13                sales_lag_364   1258  13.299828
16          sales_roll_mean_365    614   9.878312
60   sales_ewm_alpha_05_lag_365    381   4.864704
18   sales_ewm_alpha_095_lag_91    113   2.886957
..                          ...    ...        ...
72                     store_10      0   0.000000
111                     item_39      0   0.000000
84                      item_12      0   0.000000
66                      store_4      0   0.000000
71                      store_9      0   0.000000

[142 rows x 3 columns]

In [68]:
importance_zero = feat_imp[feat_imp["gain"] == 0]["feature"].values

In [69]:
imp_feats = [col for col in cols if col not in importance_zero]
len(imp_feats)

110

# Final Model

In [71]:
train = df.loc[~df.sales.isna()]
Y_train = train['sales']
X_train = train[cols]

In [72]:
test = df.loc[df.sales.isna()]
X_test = test[cols]

In [73]:
lgb_params = {'num_leaves': 10,
              'learning_rate': 0.02,
              'feature_fraction': 0.8,
              'max_depth': 5,
              'verbose': 0,
              'nthread': -1,
              "num_boost_round": model.best_iteration}

In [78]:
lgbtrain_all = lgb.Dataset(data=X_train, label=Y_train, feature_name=cols)

In [ ]:
final_model = lgb.train(lgb_params, lgbtrain_all, num_boost_round=model.best_iteration)

In [75]:
test_preds = final_model.predict(X_test, num_iteration=model.best_iteration)

# Submission File

In [76]:
test.head()

,date,sales,id,day_of_month,day_of_year,week_of_year,year,is_wknd,is_month_start,is_month_end,sales_lag_91,sales_lag_98,sales_lag_105,sales_lag_112,sales_lag_119,sales_lag_126,sales_lag_182,sales_lag_364,sales_lag_546,sales_lag_728,sales_roll_mean_365,sales_roll_mean_546,sales_ewm_alpha_095_lag_91,sales_ewm_alpha_095_lag_98,sales_ewm_alpha_095_lag_105,sales_ewm_alpha_095_lag_112,sales_ewm_alpha_095_lag_180,sales_ewm_alpha_095_lag_270,sales_ewm_alpha_095_lag_365,sales_ewm_alpha_095_lag_546,sales_ewm_alpha_095_lag_728,sales_ewm_alpha_09_lag_91,sales_ewm_alpha_09_lag_98,sales_ewm_alpha_09_lag_105,sales_ewm_alpha_09_lag_112,sales_ewm_alpha_09_lag_180,sales_ewm_alpha_09_lag_270,sales_ewm_alpha_09_lag_365,sales_ewm_alpha_09_lag_546,sales_ewm_alpha_09_lag_728,sales_ewm_alpha_08_lag_91,sales_ewm_alpha_08_lag_98,sales_ewm_alpha_08_lag_105,sales_ewm_alpha_08_lag_112,sales_ewm_alpha_08_lag_180,sales_ewm_alpha_08_lag_270,sales_ewm_alpha_08_lag_365,sales_ewm_alpha_08_lag_546,sales_ewm_alpha_08_lag_728,sales_ewm_alpha_07_lag_91,sales_ewm_alpha_07_lag_98,sales_ewm_alpha_07_lag_105,sales_ewm_alpha_07_lag_112,sales_ewm_alpha_07_lag_180,sales_ewm_alpha_07_lag_270,sales_ewm_alpha_07_lag_365,sales_ewm_alpha_07_lag_546,sales_ewm_alpha_07_lag_728,sales_ewm_alpha_05_lag_91,sales_ewm_alpha_05_lag_98,sales_ewm_alpha_05_lag_105,sales_ewm_alpha_05_lag_112,sales_ewm_alpha_05_lag_180,sales_ewm_alpha_05_lag_270,sales_ewm_alpha_05_lag_365,sales_ewm_alpha_05_lag_546,sales_ewm_alpha_05_lag_728,store_1,store_2,store_3,store_4,store_5,store_6,store_7,store_8,store_9,store_10,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19,item_20,item_21,item_22,item_23,item_24,item_25,item_26,item_27,item_28,item_29,item_30,item_31,item_32,item_33,item_34,item_35,item_36,item_37,item_38,item_39,item_40,item_41,item_42,item_43,item_44,item_45,item_46,item_47,item_48,item_49,item_50,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2018-01-01,NaN,0.0,1,1,1,2018,0,1,0,10.972958,14.898928,21.044478,17.263113,14.437463,14.185372,16.184725,14.899072,19.157344,10.565878,23.922529,22.476933,12.472220,14.531325,22.392609,16.695005,22.989955,24.801901,18.774592,18.843644,12.003480,12.987531,15.120201,22.770677,17.380051,22.969272,24.605438,18.596446,19.678303,12.017666,14.136684,16.435296,23.481072,18.719979,22.948070,24.207259,18.366501,21.332981,12.097977,15.418629,17.863610,24.114316,20.015174,23.029458,23.791446,18.268850,22.964410,12.271265,18.192747,20.671654,24.971733,22.381769,23.804594,22.867776,18.234876,25.986567,12.903982,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2018-01-02,NaN,1.0,2,2,1,2018,0,0,0,16.912405,15.299580,25.080590,18.809588,27.078590,22.626591,19.374168,10.333027,29.173912,10.233702,25.243578,20.315461,17.723611,17.826566,21.069630,19.834750,30.599498,24.990095,15.188730,30.392182,12.000174,17.498753,17.712020,21.177068,19.738005,30.196927,24.960544,15.359645,29.867830,12.001767,17.227337,17.687059,21.496214,19.743996,29.389614,24.841452,15.673300,29.066596,12.019595,17.225589,17.959083,21.934295,20.004552,28.608837,24.637434,15.980655,28.589323,12.081380,18.096374,19.335827,22.985866,21.190884,27.402297,23.933888,16.617438,28.493284,12.451991,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2018-01-03,NaN,2.0,3,3,1,2018,0,0,0,15.560760,26.633185,18.463075,13.315552,24.071811,21.730966,20.556348,14.077247,17.870214,16.470429,24.152046,22.182992,15.136181,26.541328,20.053482,13.341738,31.929975,23.099505,10.259436,22.419609,15.800009,15.249875,26.071202,20.117707,13.673801,31.819693,23.196054,10.535964,22.786783,15.600177,15.445467,25.137412,20.299243,14.348799,31.477923,23.368290,11.134660,23.413319,15.203919,15.667677,24.287725,20.580288,15.101366,30.982651,23.491230,11.794197,23.976797,14.824414,16.548187,23.167914,21.492933,17.095442,29.701148,23.466944,13.308719,25.246642,14.225995,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,2018-01-04,NaN,3.0,4,4,1,2018,0,0,0,20.197051,22.416282,21.355903,26.862229,31.031268,25.586986,32.098821,15.651877,34.627134,13.348710,24.801250,21.006769,19.756809,23.177066,20.002674,25.367087,27.246499,20.154975,15.712972,32.470980,12.190000,19.524988,23.307120,20.011771,24.767380,27.481969,20.319605,15.453596,31.978678,12.360018,19.089093,23.427482,20.059849,23.669760,27.895585,20.673658,15.026932,31.082664,12.640784,18.700303,23.386317,20.174087,22.730410,28.194795,21.047369,14.738259,30.293039,12.847324,18.274093,23.083957,20.746467,21.547721,28.350574,21.733472,14.654359,29.123321,13.112998,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,2018-01-05,NaN,4.0,5,5,1,2018,1,0,0,18.935436,27.452811,27.704575,25.627530,29.057324,39.133603,32.007840,23.948458,34.378411,8.618667,26.375433,20.416037,19.037840,27.758853,27.600134,27.868354,31.762325,19.057749,14.085649,33.923549,12.009500,19.052499,27.530712,27.201177,27.676738,31.548197,19.131961,14.145360,33.797868,12.036002,19.017819,27.085496,26.411970,27.133952,31.179117,19.334732,14.205386,33.416533,12.128157,18.910091,26.615895,25.652226,26.419123,30.858439,19.614211,14.221478,32.887912,12.254197,18.637047,25.541978,24.373233,24.773861,30.175287,20.366736,14.327180,31.561660,12.556499,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [77]:
submission_df = test.loc[:, ["id", "sales"]]
submission_df['sales'] = np.expm1(test_preds)

submission_df['id'] = submission_df.id.astype(int)

submission_df.to_csv("outputs/submission_demand.csv", index=False)